{% load i18n %}
{% load url from future %}

<div class="pull-right">
    <ul class="nav pull-right">
        {% if request.user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ request.user }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "userena_profile_edit" username=request.user.username %}"><i class="icon-user"></i> {% trans "Settings" %}</a></li>
                    <li><a href="{% url "postman_inbox" %}"><i class="icon-comment"></i> {% trans "Messages" %} {% if postman_unread_count %}({{ postman_unread_count }}){% endif %}</a></li>
                    <li class="divider"></li>
                    <li>
                        <form id="logout_form" action="{% url "userena_signout" %}" method="POST" style="display: none;">{% csrf_token %}</form>
                        <a id="account_logout" href="{% url "userena_signout" %}"><i class="icon-off"></i> {% trans "Log out" %}</a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li><a href="{% url "userena_signin" %}">{% trans "Log in" %}</a></li>
            <li><a href="{% url "userena_signup" %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    </ul>
</div>
