{% extends 'userena/profile_detail.html' %}

{% load i18n thumbnail %}

{% block profile_details %}

    {% include 'pybb/avatar.html' %}
    <a href="{% url 'imagestore:user' username=profile.user.get_username %}">{% trans 'User albums' %}</a>
    <dl>
        {% block profile_definition_list %}
            {% if profile.user.get_full_name %}
                <dt>{% trans "Name" %}</dt>
                <dd>{{ profile.user.get_full_name }}</dd>
            {% endif %}
            {% if profile.user.email and not hide_email %}
                <dt>{% trans "Email" %}</dt>
                <dd>{{ profile.user.email }}</dd>
            {% endif %}
            {% if profile.age %}
                <dt>{% trans "Age" %}</dt>
                <dd>{{ profile.age }}</dd>
            {% endif %}
            {% if profile.website %}
                <dt>{% trans "Website" %}</dt>
                <dd>{{ profile.website|urlize }}</dd>
            {% endif %}
            {% if profile.location %}
                <dt>{% trans "Location" %}</dt>
                <dd>{{ profile.location }}</dd>
            {% endif %}
            {% if profile.about_me %}
                <dt>{% trans "About me" %}</dt>
                <dd>{{ profile.about_me }}</dd>
            {% endif %}
        {% endblock %}
    </dl>
{% endblock %}