{% extends 'theme_bootstrap/base.html' %}

{% load i18n static %}

{% block site_brand %}<a class="brand" href="/">HCM</a>{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'prettyphoto/css/prettyPhoto.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/black-tie/jquery-ui.css" type="text/css">
{% endblock %}

{% block extra_head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="{% static "js/ajax_csrf.js" %}"></script>
{% endblock %}

{% block nav %}
    <ul class="nav">
        <li id="tab_forum">
            <a href="{% url 'pybb:index' %}">{% trans 'Forum' %}</a>
        </li>
        <li>
            <a href="{% url 'news_news_list' %}">{% trans 'News' %}</a>
        </li>
        <li>
            <a href="{% url 'blog_post_list' %}">{% trans 'Blogs' %}</a>
        </li>
        {% if user.is_staff %}
            <li id="tab_admin">
                <a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block script_base %}

    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/hcm.js' %}"></script>

    <script src="{{ STATIC_URL }}prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        var prettyparams = {
            animation_speed: 'fast',
            slideshow: 3000,
            autoplay_slideshow: false,
            opacity: 0.7,
            show_title: true,
            allow_resize: true,
            default_width: 1000,
            default_height: 344,
            counter_separator_label: '/',
            theme: 'facebook',
            overlay_gallery: true,
            changepicturecallback: function () {
                $pp_overlay.css({'height': $(document).height()})
            }
        };
        $(function () {
            $("a[rel^='gallery-image']").prettyPhoto(prettyparams)
        });
    </script>
    {% block extra_script %}{% endblock %}
{% endblock %}