{% extends 'hcm_blog/base.html' %}

{% load i18n honeypot bootstrap_tags %}

{% block blog_content %}
    <h1>{{ object.title }}</h1>
    <div>
        <div class="blog-post-detail-body">{{ object.body_html|safe }}</div>
        {% if object.author == request.user or request.user.is_staff %}
            <div class="blog-post-actions">
                {% if perms.hcm_blog.change_post %}<a href="{{ object.get_update_url }}">{%  trans 'Edit' %}</a>{% endif %}
                {% if perms.hcm_blog.delete_post %}<a href="{{ object.get_delete_url }}">{%  trans 'Delete' %}</a>{% endif %}
            </div>
        {% endif %}
        <div class="blog-post-comments">
            {% for comment in object.comments.all %}
                {% if not comment.is_removed %}
                    <div class="blog-post-comment">
                        {{ comment.user }} ({{ comment.submit_date }}): {{ comment.body }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="blog-post-comment-form">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'blog_post_comment' pk=object.pk %}">
                    {% csrf_token %}
                    {% render_honeypot_field %}
                    {{ comment_form|as_bootstrap }}
                    <input type="submit" value="{% trans 'Post comment' %}">
                </form>
            {% else %}
                {% trans 'Please, ' %} <a href="{% url 'userena_signin' %}?next={{ request.path }}">{% trans 'sign in' %}</a> {% trans 'before post comments' %}
            {% endif %}
        </div>
    </div>
{% endblock %}