{% extends 'base.html' %}

{% load i18n bootstrap_tags %}

{% block extra_head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="blog-post-form">
        <form method="post">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            {% if action == 'delete' %}
                {% trans 'Do you really want to delete post' %}: {{ object.title }}?<br>
            {% endif %}
            <input type="submit" value="{% if action == 'delete' %}{% trans 'Yes' %}{% else %}{% trans 'Save' %}{% endif %}">
            <a href="{% if object %}{{ object.get_absolute_url }}{% else %}{% url 'blog_post_list' %}{% endif %}">{% if action == 'delete' %}{% trans 'No' %}{% else %}{% trans 'Cancel' %}{% endif %}</a>
        </form>
    </div>
{% endblock %}